html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#Page {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100%;
}

#PremiereLigne, #DeuxiemeLigne{
    display: flex;
}

.Carre {
    background-color: rgb(136,174,136);
    color: rgb(255,255,255);
    height: 200px;
    width: 200px;
    font-size: 40px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}

.Carre h3 {
    margin: 0; 
}
